

body {
  background-color: #e0f7fa;
}

.signup-form {
  background-color: #fff; 
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.user-message--error {
  text-align: center;
  color: red;
}

.error-message {

  color: red;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #060f0e; 
  font-weight: bold
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #009688; 
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0; 
}
.show-password-input {
  transition: .35s;
  cursor: pointer;
  opacity: .5;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: no-repeat center center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxMTExMTEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWV5ZSI+PHBhdGggZD0iTTEgMTJzNC04IDExLTggMTEgOCAxMSA4LTQgOC0xMSA4LTExLTgtMTEtOHoiPjwvcGF0aD48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIzIj48L2NpcmNsZT48L3N2Zz4=);
}